<%- include('partials/Head.ejs') -%>
<title>x store (exhibition)</title>
<%- include('partials/Navbar.ejs') -%>
<div class="container my-5">
    <h1>starting page</h1>
    <h2>hello buyers!</h2>

</div>


<%- include('partials/Foot.ejs') -%>
