<%- include('partials/Head.ejs') -%>
<title>x store (exhibition)</title>
<%- include('partials/Navbar.ejs') -%>
<div class="container my-5">
  'tain, ça marche pas!

</div>


<%- include('partials/Foot.ejs') -%>
