<%- include('partials/Head.ejs') -%>
<title>x store (exhibition)</title>
<%- include('partials/Navbar.ejs') -%>
<div class="container my-5">
  Bon, on est dedans...

</div>


<%- include('partials/Foot.ejs') -%>
